@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu:wght@400;500&display=swap');

:root{
    --bg-color:#252525ee;
}

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body{
    background-color: var(--bg-color);
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: .4rem;
    height: 2rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    width: 1rem;
    background: #ffffff90;
    border-radius: 2rem;
}


.menu-header{
    display: flex;
    width: 100%;
    height: 4.5rem;
    justify-content: center;
    position:absolute;
}

.menu-content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.logo-menu{
    font-size: 2.5rem;
    width: auto;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.logo-menu::before{
    content: '';
    border: 2px solid transparent;
    border-radius: 2rem;
    width: 0;
    height: 2.9rem;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: border .2s ease-in-out, width .4s ease-in-out;
    padding: .3rem .5rem;
}

.logo-menu:hover::before{
    border: 2px solid white;
    width: 17rem;
    height: 2.9rem;
}

.list-menu-content{
    display: flex;
    list-style: none;
    gap: 4rem;
    z-index: 10;
}

.menu-items{
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
}
.menu-items::after{
    content: '';
    display: flex;
    position: absolute;
    background-color: white;
    width: 0rem;
    height: .15rem;
    bottom: 1.5rem;
    transition: width .25s ease-in-out;
}

.menu-items:hover::after, .menu-items:focus::after{
    width: 6rem;
}

/* primeira página */

.section-content{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: optimizeSpeed;
    overflow: hidden;
}

.div-section{
    position:relative;
    width: 100%;
    height: 6.5rem;
    /* background-color: #03392770; */
    background: linear-gradient(180deg, rgba(124, 152, 23, 0.50) 0.50%, rgba(3, 57, 39, 0.50) 100%);
    z-index: 10;
    /* box-shadow: inset 0px -15px 15px #00000070, 
                inset 0px 15px 15px #00000070; */
    opacity: .2;
    display: block;
}

.content-1{
    background-image: url(./assets/bg\ 1\ -\ or.jpg);
    background-attachment: fixed;
    background-size:cover;
    box-shadow: inset 0 -5px 15px -3px #7c981780;
}

.content-2{
    background-image: url(./assets/bg\ 2\ -\ or.jpg);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0px 15px 15px #03392799;
}

.box-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    justify-content: center;
    gap: 2.9rem;
}

.title-box{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 37rem;
    height: auto;
}

.text-content{
    width: 50rem;
    height: auto;
    flex-shrink: 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
}

.btn-box-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: .6rem;
    width: 8rem;
    height: 3rem;
    font-size: 1.1rem;
    transition: all .2s;
}

.box-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title-2, .text-2{
    text-align: right;
    margin-left: auto;
}

.text-2{
    width: 40rem;
    height: 7rem;
}

.card-panel{
    width: 40%;
    height: 50%;
    width: 100%;
}

.text-panel{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: end;
}

.btn-next-page{
    font-size: 2rem;
    border:2px solid white;
    border-radius: 4rem;
    width: 3rem;
    height: 3rem;
    transition: color .3s, box-shadow .3s;
    display: flex;
    padding: .5rem;
    color: black;
    background-color: #fff;
}

.btn-box-content:hover, .btn-next-page:hover {
    box-shadow: 0px 0px 8px white;
    color: black;
    background-color: white;
}

.card{
    position: absolute;
    width: 13rem;
    height: 17rem;
    border-radius: 2.1875rem;
    border: 2px solid #FFF;
    box-shadow: -10px 10px 4px 0px rgba(255, 255, 255, 0.13);
    transition: transform .5s;
    cursor: pointer;
}

.card:nth-child(1){
    transform: translate(10rem, 10rem) skew(3deg, 3deg);
    z-index: 14;
}

.card:nth-child(2){
    transform: translate(7.5rem, 7.5rem) skew(3deg, 3deg);
    z-index: 13;
}

.card:nth-child(3){
    transform: translate(5rem, 5rem) skew(3deg, 3deg);
    z-index: 12;
}

.card:nth-child(4){
    transform: translate(2.5rem,2.5rem) skew(3deg, 3deg);
    z-index: 11;
}

.content-2:hover .card:nth-child(1){
    transform: translate(14rem, -4rem) skew(3deg, 3deg);
}
.content-2:hover .card:nth-child(2){
    transform: translate(14rem, 15rem) skew(3deg, 3deg);
}
.content-2:hover .card:nth-child(3){
    transform: translate(-1rem, -4rem) skew(3deg, 3deg);
}
.content-2:hover .card:nth-child(4){
    transform: translate(-1rem, 15rem) skew(3deg, 3deg);
}

.content-2 .card:hover:nth-child(1){
    transform: translate(14.5rem, -4.5rem) skew(3deg, 3deg);
}
.content-2 .card:hover:nth-child(2){
    transform: translate(14.5rem, 14.5rem) skew(3deg, 3deg);
}
.content-2 .card:hover:nth-child(3){
    transform: translate(-.5rem, -4.5rem) skew(3deg, 3deg);
}
.content-2 .card:hover:nth-child(4){
    transform: translate(-.5rem, 14rem) skew(3deg, 3deg);
}

.box-3{
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;
}

.title-box-3{
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    width:auto;
    margin:1.2rem 0;
}

.title-box-3::after{
    content: '';
    display: flex;
    position: absolute;
    background-color: #fff;
    width: 35rem;
    height: .1rem;
    margin-top: .5rem;
    left: 50%;
    transform: translateX(-50%);
}

.content-biomes {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.drop-biomes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    gap: .3rem;
}

.box-biomes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.align-title-btn{
    display: flex;
    align-items: center;
    position: absolute;
    width: 18rem;
    height: auto;
    justify-content: space-between;
    z-index: 1;
    transition: transform .3s ease-in-out;
}

.bg-box-biomes{
    display: flex;
    width: 100%;
    height: 6rem;
    object-fit: cover;
    filter: grayscale(45%) blur(.7px);
    transition: filter .3s, transform .3s ease-in-out, border .3s;
    border: 2px solid transparent;
}

.box-biomes:hover .bg-box-biomes, .box-biomes:hover .align-title-btn, .box-biomes:focus .bg-box-biomes, .box-biomes:focus .align-title-btn{
    filter: grayscale(0) blur(0px);
    transform: scale(1.04);
}

.box-biomes:hover .bg-box-biomes, .box-biomes:focus .bg-box-biomes{
    border: 2px solid white;
}

.title-drop-biomes, .biomes-card-title{
    text-transform: uppercase;
}

.drop-btn{
    font-size: 1.6rem;
}

.biomes-description{
    border: 2px solid white;
    border-radius: .6rem;
    width: 50%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: -8px 8px 15px rgba(255, 255, 255, 0.13);
}

.biomes-card{
    height: 100%;
    display:none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    overflow: hidden;
    animation: .5s linear 0s cardAnimationToAppear;
}

.biomes-card.active{
    display: flex;
    opacity: 1;
}

/* ANIMAÇÃO DO CARD DESCRITIVO COM EFEITO DE OPACIDADE APENAS */

@keyframes cardAnimationToAppear{
    0%{
        opacity: 0;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}

.biomes-card-title{
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
}

.biomes-card-text{
    text-align: justify;
    width: 85%;
    font-size: 1.1rem;
    z-index: 10;   
}

.biomes-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 35rem;
}

.biome-bg-img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter:saturate(110%) blur(5px);
}

/* FOOTER ABAIXO */

.f-footer{
    margin-top: 2rem;
    font-weight: 400;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #151515;
}

.r-rights{
    font-size: 1.05rem;
    letter-spacing: 0.02rem;
}

.icon-footer{
    font-size: 1.8rem;
    display: flex;
    gap: .7rem;
}

.icon{
    transition: color .2s;
}

.icon:hover{
    color: #ffffff50;
}